$nav-height: 120px

#top-menu
  align-items: baseline

  &.bg-transparent
    border-bottom: 3px none $gold
    @include media-breakpoint-between(xs, sm)
      background-color: #000 !important

  &.bg-black
    border-bottom: 3px solid $gold

  .navbar-brand
    display: none
    @include media-breakpoint-between(xs, sm)
      display: inline-block

  .navbar-nav
    .nav-link
      width: 100px
      text-align: center
      @include media-breakpoint-between(xs, sm)
        width: 100%
        text-align: left
      @include media-breakpoint-up(lg)
        width: 150px

    .logo
      display: block
      @include media-breakpoint-between(xs, sm)
        display: none

  a
    height: 50px
    margin: 25px
    text-transform: uppercase
    color: $gold
    font-family: $simplifica
    font-weight: bolder
    letter-spacing: 1px

    &:hover
      border-bottom: 1px solid $gold

  .navbar-toggler
    color: $gold
    border: 1px solid $gold

    span
      color: $gold
